.about-image img
{
    width: 100%;
    height: auto;
    /* max-width: 500px; */
    /* object-fit: cover; */
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    justify-content: center;
    align-items: center;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem;
    align-items: center;
}
.about-text {
    align-items: center;
    justify-content: center;
}
.about-text h2
{
    font-size: var(--h2-font);
    font-weight: 600;
    color: var(--text-color);
}
.about-text h4
{
    font-size: var(--h4-font);
    color: var(--text-color);
    margin-bottom: 1rem;
}
.about-text p
{
    font-size: var(--p-font);
    color: var(--text-color);
    margin-bottom: 1rem;
    text-indent: 2rem; /* Added text indentation */
}
.about-text p span
{
    color: var(--primary-color);
}
.about-text a
{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: var(--h5-font);
    font-weight: 700;
    margin-top: 20px;
}
.about-text a:hover
{
    color: var(--primary-color);
}
.about-text a img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.social-btn
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
}
.linkedin-btn {
    background-color: var(--linkedin-color);
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px; /* Adjust the gap between the image and text as needed */
}
.linkedin-btn:hover {
    background-color: var(--linkedin-color);
    transform: scale(1.05);
    color: var(--text-color) !important;
}
.linkedin-btn img {
    width: 24px; /* Adjust the size of the image as needed */
    height: 24px; /* Adjust the size of the image as needed */
}
.github-btn {
    background-color: var(--github-color);
    border-color: transparent;
    display: flex; /* Changed to flex for better alignment */
    justify-content: center;
    align-items: center; /* Centers content vertically */
    gap: 10px; /* Adjust the gap between the image and text as needed */
}
.github-btn:hover {
    background-color: var(--github-color);
    transform: scale(1.05);
    color: var(--text-color) !important;
}
.github-btn img {
    width: 24px; /* Adjust the size of the image as needed */
    height: 24px; /* Adjust the size of the image as needed */
}
@media (max-width: 768px) {
    .about {
        grid-template-columns: 1fr; /* Stack the columns on smaller screens */
        gap: 2rem; /* Adjust the gap for smaller screens */
    }
    .about-text {
        text-align: center; /* Center text on smaller screens */
    }
    .about-image img {
        width: 100%; /* Make image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}
